*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.quiniela{
    margin: auto;
    background-image: url("https://scontent.fgdl9-1.fna.fbcdn.net/v/t1.15752-9/138945099_219931443088982_3482192807152806921_n.png?_nc_cat=108&ccb=2&_nc_sid=ae9488&_nc_eui2=AeElRKM1E3EJoO0_LKgOvNOm5WaO7Hxy05flZo7sfHLTl9dGhZ2Fxggj5js2ohMtz6SnMWiHIxRvTGeFz9Gt0rlc&_nc_ohc=qTQmz0eFwy0AX93z_kT&_nc_ht=scontent.fgdl9-1.fna&oh=448ec03059a94a99ec90cd5f49a36bb1&oe=602CE2A9");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 400px;
    border-radius: 20px;

}


.botonera{
    margin-top: 2%;
}

@media (max-width: 400px){
    .botonera {
        margin-top: 2vh;
    }
}

.aux{
    background-color: rgba(165, 42, 42, 0);
    width: 100%;
    height: 13.5%;
}
.aux h3{
    width: 9%;
    height: 60%;
    padding-top: 5px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.288);
}
.aux h3 ion-icon{
    display: table-row-group;
}


.quiniela span{
    width: 10.6%;
    display: inline-flex;
    
}

#_{
    background-color: rgba(128, 255, 0, 0);
    width: 34.1%;
    height: 100%;
    display: inline-flex;


}
.partido{
    display: flex;
    height: 6.67%;
    width: 100%;
}

body{
    max-width: 400px;
    margin: auto;
    background-color: rgb(6,12,37);
    background-image: url("https://scontent.fgdl9-1.fna.fbcdn.net/v/t1.15752-9/134130211_145184797408638_5884476686199978814_n.png?_nc_cat=101&ccb=2&_nc_sid=ae9488&_nc_eui2=AeHacUsJcxc2dLEjyN6yRNFnewGJ9Yr5QNZ7AYn1ivlA1mEOk9gwRHq5Tj3AKrDSpGr-c04zas5Q9__A6xiP6NG1&_nc_ohc=r1dXCQ2jaTwAX878pIe&_nc_ht=scontent.fgdl9-1.fna&oh=82b45ff3214b5e425f2644eeb9bee676&oe=601417B7");
    background-repeat: repeat-y;
    background-position: top;
}

  

h1{
    background-color: teal;
    text-align: center;
    padding: 18px;
    color: yellow;
    margin-top: 8%;
    border: solid 1px black;
    border-radius: 0 0 20px 20px;
    background: -webkit-linear-gradient(0.04turn, black  ,rgb(12,166,78) 80%);
    background: linear-gradient(0.04turn, black  ,rgb(12,166,78) 80%);
    font-size: x-large;
}

h2,h3{
    background:  linear-gradient(0,  rgb(0, 175, 0) 20%, #4ac959 90%);
    text-align: center;
    padding: 12px;
    width: 34%;
    margin-right: 6px;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px black solid;
    border: none;
    float: left;
    box-shadow: 2px 2px 5px black;
    font-size: larger;
}

#nombretext{
    color: gray;
    font-size: 9px;
    text-align: center;
    padding: 2px 0 0 2px;
}

#botonlisto{
    background: linear-gradient(0,  rgb(0, 134, 175) 20%, rgb(15, 163, 201)); 
    width: 12.3%;
    padding: 8px;
    border-radius: 15px;
    padding-top: 10px;
    font-size: x-large;
}

#botonborrar{
    background:  linear-gradient(0,  rgb(184, 0, 0) 20%, rgb(187, 1, 1) 90%);
    border-radius: 15px;
    padding-top: 10px;
    width: 12.3%;
    padding: 8px;
    font-size: x-large;
}

#nombrebox{
    border-collapse: collapse;
    width: 34%;
    background:  linear-gradient(0,  rgb(220, 220, 220) 20%, rgb(255, 255, 255) 90%);
    text-align: center;
    margin-top: 1.1vh;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 2px 5px black;
    max-width: 135px;
    float: left;

}

#nombre{
    background:transparent;
    display: inline-block;
    width: 100%;
    border: none;
    text-align: center;
    padding-bottom: 13px;
    margin: 0 0 2px 2px;
}


#ultimonombre{
    margin-left: 11%;
    height: 17px;
    box-shadow: 1px 1px black;
}

#random{
    background:  linear-gradient(0,  rgb(250, 250, 200) 20%, rgb(255, 255, 255) 90%);
    border-radius: 4px;
    padding: 2px;
    font-size: small;
    box-shadow: 1px 1px 3px black;
}

#undo{
    float: right;
    background:  linear-gradient(0,  rgb(250, 200, 200) 20%, rgb(255, 255, 255) 90%);
    border-radius: 4px;
    padding: 2px;
}


p{
    padding: 10px;
}

.display{
    border: solid black 2px;
    width: 100%;
    background-color: rgba(255, 255, 240, 0.356);
    border-radius: 5px;
    text-align: left;
    margin-top: 10px;
}

h4{
    float: left;
    display: contents;
    text-align: center;
}

h6{
    display: inline;
}

#total{
    display: inline-block;
    float: right;
    margin-top: 0;
    background-color: rgb(200,200,200,0.5);
    padding: 0 2px;
    border-radius: 3px;
}

#costo, #numquinielas{
    color: rgba(11, 15, 0, 0.753);
    background-color: rgb(200,200,200,0.5);
    display:inline;
    padding: 0 2px;
    border-radius: 3px;
}
