*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.quiniela{
    margin: auto;
    background-image: url("https://scontent.fgdl9-1.fna.fbcdn.net/v/t1.15752-9/117376624_1710158575830323_8293354720831099501_n.png?_nc_cat=104&_nc_sid=ae9488&_nc_ohc=C3CEQiL_WgUAX8yQitc&_nc_ht=scontent.fgdl9-1.fna&oh=1795098366c261fd640bdb5a91e60cff&oe=5F5EF2FB");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 400px;
    height: 375px;
    border-radius: 20px;

}


.botonera{
    margin-top: 5%;
}

.aux{
    background-color: rgba(165, 42, 42, 0);
    width: 100%;
    height: 13.5%;
}
.aux h3{
    width: 9%;
    height: 60%;
    padding-top: 5px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.288);
}
.aux h3 ion-icon{
    display: table-row-group;
}


.quiniela span{
    width: 10.6%;
    display: inline-flex;
    
}

#_{
    background-color: rgba(128, 255, 0, 0);
    width: 34.1%;
    height: 100%;
    display: inline-flex;


}
.partido{
    display: flex;
    height: 6.67%;
    width: 100%;
}

body{
    max-width: 400px;
    margin: auto;
    background-color: black;
    background-image: url("https://scontent.fgdl9-1.fna.fbcdn.net/v/t1.15752-9/116370734_2727969444157025_6448981862338063132_n.png?_nc_cat=108&_nc_sid=ae9488&_nc_ohc=192KfLYfMKsAX9EJOC0&_nc_ht=scontent.fgdl9-1.fna&oh=efbc5ad6f0827818ddd5c56606ea1607&oe=5F4AD5F5");
    background-repeat: repeat-y;
    background-position: top;
}

  

h1{
    background-color: teal;
    text-align: center;
    padding: 14px;
    color: whitesmoke;
    margin-top: 8%;
    border: solid 1px black;
    border-radius: 0 0 20px 20px;
    background: -webkit-linear-gradient(0,black,#6d1c9f);
    background: linear-gradient(0,black,#6d1c9f);
}

h2,h3, #nombre{
    background:  linear-gradient(0,  rgb(0, 175, 0) 20%, #4ac959 90%);
    text-align: center;
    padding: 8px;
    width: 35%;
    margin-right: 6px;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px black solid;
    border: none;
    float: left;
    box-shadow: 2px 2px black;
}

#botonlisto{
    background: linear-gradient(0,  rgb(0, 134, 175) 20%, rgb(15, 163, 201)); 
    width: 12.3%;
    border-radius: 15px;
    padding-top: 10px;
}

#botonborrar{
    background:  linear-gradient(0,  rgb(184, 0, 0) 20%, rgb(187, 1, 1) 90%);
    border-radius: 15px;
    padding-top: 10px;
    width: 12.3%;
}

#nombre{
    width: 30%;
    background-color: white;
    background: white;
}

#ultimonombre{
    margin-left: 11%;
    height: 17px;
    box-shadow: 1px 1px black;
}

#undo{
    float: right;
}


p{
    padding: 10px;
}

.display{
    border: solid black 2px;
    width: 100%;
    background-color: rgba(255, 255, 240, 0.356);
    border-radius: 5px;
    text-align: left;
}

h4{
    float: left;
    margin-top: 10px;
    display: contents;
    text-align: center;
}

h6{
    display: inline;
}

#total{
    display: inline-block;
    float: right;
    margin-top: 0;
}

#costo, #numquinielas{
    color: rgba(11, 15, 0, 0.753);
}
