*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.quiniela{
    margin: auto;
    background-image: url("https://scontent-qro1-1.xx.fbcdn.net/v/t1.15752-9/128769920_309551250161473_2482621921114452823_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_eui2=AeGGwAl-0uApOxm-IehtoovNeUymrLxlvtt5TKasvGW-2-Bc5VhyfjCmdM5mRZHsOcw-df7BBMLB-1BxXLDvHeu7&_nc_ohc=p_Fd8bS2WuwAX80eSMh&_nc_ht=scontent-qro1-1.xx&oh=d9c0c1982ddf26c884754a44a8ee3d85&oe=5FE9300B");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 400px;
    height: 375px;
    border-radius: 20px;

}


.botonera{
    margin-top: 5%;
}

.aux{
    background-color: rgba(165, 42, 42, 0);
    width: 100%;
    height: 13.5%;
}
.aux h3{
    width: 9%;
    height: 60%;
    padding-top: 5px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.288);
}
.aux h3 ion-icon{
    display: table-row-group;
}


.quiniela span{
    width: 10.6%;
    display: inline-flex;
    
}

#_{
    background-color: rgba(128, 255, 0, 0);
    width: 34.1%;
    height: 100%;
    display: inline-flex;


}
.partido{
    display: flex;
    height: 6.67%;
    width: 100%;
}

body{
    max-width: 400px;
    margin: auto;
    background-color: rgb(6,12,37);
    background-image: url("https://scontent.fgdl9-1.fna.fbcdn.net/v/t1.15752-9/124119451_1825341780954367_1402491912504904499_n.png?_nc_cat=100&ccb=2&_nc_sid=ae9488&_nc_eui2=AeFPthcZhkw5Dpfv7FHYkidUECeGoGt38WQQJ4aga3fxZPNDdOD0F4Q14OQAh-Ekv_enzw8kA_becbhTN4jcbwqc&_nc_ohc=jl1DZbCv1poAX-Xo7ie&_nc_ht=scontent.fgdl9-1.fna&oh=f9e5b8c6835c89b5c50af8d6cfef1cc8&oe=5FCDAA58");
    background-repeat: repeat-y;
    background-position: top;
}

  

h1{
    background-color: teal;
    text-align: center;
    padding: 14px;
    color: whitesmoke;
    margin-top: 8%;
    border: solid 1px black;
    border-radius: 0 0 20px 20px;
    background: -webkit-linear-gradient(0, black ,rgb(146,0,0) 80%);
    background: linear-gradient(0, black,rgb(146,0,0) 80%);
}

h2,h3, #nombre{
    background:  linear-gradient(0,  rgb(0, 175, 0) 20%, #4ac959 90%);
    text-align: center;
    padding: 8px;
    width: 35%;
    margin-right: 6px;
    margin-top: 10px;
    border-radius: 6px;
    border: 2px black solid;
    border: none;
    float: left;
    box-shadow: 2px 2px 5px black;
}

#botonlisto{
    background: linear-gradient(0,  rgb(0, 134, 175) 20%, rgb(15, 163, 201)); 
    width: 12.3%;
    border-radius: 15px;
    padding-top: 10px;
}

#botonborrar{
    background:  linear-gradient(0,  rgb(184, 0, 0) 20%, rgb(187, 1, 1) 90%);
    border-radius: 15px;
    padding-top: 10px;
    width: 12.3%;
}

#nombre{
    width: 30%;
    background-color: white;
    background: white;
}

#ultimonombre{
    margin-left: 11%;
    height: 17px;
    box-shadow: 1px 1px black;
}

#undo{
    float: right;
}


p{
    padding: 10px;
}

.display{
    border: solid black 2px;
    width: 100%;
    background-color: rgba(255, 255, 240, 0.356);
    border-radius: 5px;
    text-align: left;
    margin-top: 10px;
}

h4{
    float: left;
    display: contents;
    text-align: center;
}

h6{
    display: inline;
}

#total{
    display: inline-block;
    float: right;
    margin-top: 0;
    background-color: rgb(200,200,200,0.5);
    padding: 0 2px;
    border-radius: 3px;
}

#costo, #numquinielas{
    color: rgba(11, 15, 0, 0.753);
    background-color: rgb(200,200,200,0.5);
    display:inline;
    padding: 0 2px;
    border-radius: 3px;
}
