





















































































body,.quiniela{max-width:300pt;}body,.quiniela{margin-left:auto;}body,.quiniela{margin-bottom:auto;}body,.quiniela{margin-right:auto;}#_{background-color:rgba(128,255,0,0);}.quiniela,body{margin-top:auto;}#_{width:34.1%;}#_{height:100%;}#_{display:inline-flex;}body{background-color:black;}#nombre{background:linear-gradient(0,#00af00 20%,#4ac959 90%);}*{margin-left:0;}#nombre,h1{text-align:center;}body{background-image:url("https://scontent.fgdl9-1.fna.fbcdn.net/v/t1.15752-9/116370734_2727969444157025_6448981862338063132_n.png?_nc_cat=108&_nc_sid=ae9488&_nc_ohc=192KfLYfMKsAX9EJOC0&_nc_ht=scontent.fgdl9-1.fna&oh=efbc5ad6f0827818ddd5c56606ea1607&oe=5F4AD5F5");}body{background-repeat:repeat-y;}.quiniela{background-image:url("quiniela.jpg");}#nombre{padding-left:.083333333in;}body{background-position:top;}.quiniela{background-size:100%;}h1{background-color:teal;}[class~=aux] h3{width:9%;}#nombre{padding-bottom:.083333333in;}h1{padding-left:10.5pt;}h1{padding-bottom:10.5pt;}#nombre{padding-right:.083333333in;}h1{padding-right:10.5pt;}h1{padding-top:10.5pt;}h1{color:whitesmoke;}#nombre{padding-top:.083333333in;}h1{margin-top:8%;}#nombre{width:35%;}h1{border-left-width:.0625pc;}h1{border-bottom-width:.0625pc;}h1{border-right-width:.0625pc;}h1{border-top-width:.0625pc;}h1{border-left-style:solid;}#nombre{margin-right:.0625in;}.quiniela{background-repeat:no-repeat;}#nombre{margin-top:.104166667in;}h1{border-bottom-style:solid;}*{margin-bottom:0;}.quiniela{height:375px;}h1{border-right-style:solid;}.quiniela{border-radius:20px;}#nombre{border-radius:.375pc;}[class~=botonera]{margin-top:5%;}h1{border-top-style:solid;}#nombre{border-left-width:medium;}[class~=aux]{background-color:rgba(165,42,42,0);}[class~=aux],[class~=partido]{width:100%;}[class~=aux]{height:13.5%;}h1{border-left-color:black;}#nombre{border-bottom-width:medium;}[class~=partido]{display:flex;}h1{border-bottom-color:black;}#nombre{border-right-width:medium;}h1{border-right-color:black;}#nombre{border-top-width:medium;}[class~=partido]{height:6.67%;}*{margin-right:0;}h1{border-top-color:black;}h1{border-image:none;}#nombre,h2{border-left-style:none;}h2,#nombre{border-bottom-style:none;}[class~=aux] h3{height:60%;}h1{border-radius:0 0 1.25pc 1.25pc;}h1{background:-webkit-linear-gradient(.25 turn,black,#0718ac);}[class~=display]{border-left-width:1.5pt;}[class~=aux] h3{padding-top:.3125pc;}h1{background:linear-gradient(0,black,#0718ac);}[class~=display]{border-bottom-width:1.5pt;}*{margin-top:0;}h2,#nombre{border-right-style:none;}h2,#nombre{border-top-style:none;}[class~=display]{border-right-width:1.5pt;}h2,h3{background:linear-gradient(0,#00af00 20%,#4ac959 90%);}*{padding-left:0;}h2,h3{text-align:center;}h2,#nombre{border-left-color:currentColor;}h2,h3{padding-left:.083333333in;}h2,h3{padding-bottom:.083333333in;}h2,h3{padding-right:.083333333in;}*{padding-bottom:0;}h3,h2{padding-top:.083333333in;}#nombre,h2{border-bottom-color:currentColor;}h3,h2{width:35%;}[class~=aux] h3{margin-left:.25pc;}#nombre,h2{border-right-color:currentColor;}h2,h3{margin-right:.0625in;}h2{margin-top:.104166667in;}h2{border-radius:.375pc;}h2{border-left-width:medium;}h2,#nombre{border-top-color:currentColor;}h2{border-bottom-width:medium;}h2{border-right-width:medium;}[class~=display]{border-top-width:1.5pt;}h2{border-top-width:medium;}[class~=display]{border-left-style:solid;}h2,#nombre{border-image:none;}[class~=aux] h3{background-color:rgba(255,255,255,.288);}#nombre,h2{float:left;}h2,#nombre{box-shadow:1.5pt .020833333in black;}#botonlisto{background:linear-gradient(0,#0086af 20%,#0fa3c9);}[class~=display]{border-bottom-style:solid;}[class~=display]{border-right-style:solid;}#botonborrar,#botonlisto{width:12.3%;}#botonborrar,#botonlisto{border-radius:11.25pt;}[class~=display]{border-top-style:solid;}[class~=aux] h3{border-radius:.625pc;}#botonborrar,#botonlisto{padding-top:10px;}[class~=display]{border-left-color:black;}#botonborrar{background:linear-gradient(0,#b80000 20%,#bb0101 90%);}[class~=display]{border-bottom-color:black;}[class~=display]{border-right-color:black;}[class~=aux] h3{background:rgba(255,255,255,.288);}[class~=display]{border-top-color:black;}#nombre{width:30%;}#nombre{background-color:white;}[class~=display]{border-image:none;}[class~=display]{width:100%;}#nombre{background:white;}#ultimonombre{margin-left:11%;}[class~=display]{background-color:rgba(255,255,240,.356);}[class~=display]{border-radius:.3125pc;}h3,h4{margin-top:.104166667in;}#ultimonombre{height:12.75pt;}#ultimonombre{box-shadow:.75pt .010416667in black;}h3{border-radius:.375pc;}h3{border-left-width:medium;}[class~=display]{text-align:left;}#undo,#total{float:right;}#total{display:inline-block;}h3{border-bottom-width:medium;}h3{border-right-width:medium;}h3{border-top-width:medium;}h3{border-left-style:none;}h3{border-bottom-style:none;}h3{border-right-style:none;}h3{border-top-style:none;}[class~=quiniela] span{width:10.6%;}[class~=quiniela] span{display:inline-flex;}h3{border-left-color:currentColor;}#total{margin-top:0;}h3{border-bottom-color:currentColor;}h3{border-right-color:currentColor;}h3{border-top-color:currentColor;}h3{border-image:none;}h3,h4{float:left;}#costo,#numquinielas{color:rgba(11,15,0,.753);}h3{box-shadow:1.5pt .020833333in black;}p{padding-left:.625pc;}p{padding-bottom:.625pc;}[class~=aux] h3 ion-icon{display:table-row-group;}p{padding-right:.625pc;}p{padding-top:.625pc;}h4{display:contents;}h4{text-align:center;}h6{display:inline;}*{padding-right:0;}*{padding-top:0;}*{box-sizing:border-box;}*{font-family:"Roboto",sans-serif;}